/*

██╗███╗   ██╗██╗████████╗██╗ █████╗ ████████╗███████╗
██║████╗  ██║██║╚══██╔══╝██║██╔══██╗╚══██╔══╝██╔════╝
██║██╔██╗ ██║██║   ██║   ██║███████║   ██║   █████╗  
██║██║╚██╗██║██║   ██║   ██║██╔══██║   ██║   ██╔══╝  
██║██║ ╚████║██║   ██║   ██║██║  ██║   ██║   ███████╗
╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
###################################################################################################

This theme is made to replicate the initiate rocket.chat theme.
Lets all love Lain.

This theme is meant to be used with the dark version of riot/matrix
###################################################################################################*/
/* scanlines */
body::before {
    content: "";
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    animation-name: Static;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8, end);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10em inset;
    pointer-events: none !important;
    background-image: url('https://initiate.space/discord/theme/zdewd.png') !important;
    background-repeat: repeat;
    background-position: 0px 0px;
}
body::after {
    content: "";
    color: white;
    font-size: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10000;
    background-image: url(aaaa.css);
    animation-name: Static;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8, end);
    background-repeat: repeat;
    background-position: 0px 0px;
}
@keyframes Static{0%{background-position:0px 0px}100%{background-position:0px 4px}}

/* general colors */
.mx_MatrixChat > :not(.mx_LeftPanel_container):not(.mx_ResizeHandle) {
    background-color: 
    #030404;
}
.dark-panel {
    background-color: 
    transparent;
}
.mx_TagPanel {
    background-color: 
    transparent;
}
mx_TopLeftMenuButton {
background-color:
    #050606db;
}
.mx_RoomTile_selected {
    background-color: 
    #090b0be6;
}
.mx_TagPanelButtons {
    background-color: 
    transparent;
}

.mx_EventTile:hover .mx_EventTile_line, .mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line, .mx_EventTile.focus-visible:focus-within .mx_EventTile_line {
    background-color: 
    #090b0be6;
}

.mx_MessageActionBar {
    background: 
    #090b0be6;
}
.mx_MessageActionBar > * {
    border: none;
}
.mx_RoomHeader_buttons {
    background-color: transparent;
}
.mx_RoomBreadcrumbs {
    background: none;
}
.mx_RoomBreadcrumbs .mx_IndicatorScrollbar_leftOverflowIndicator {
    background: none;
}
.mx_TopLeftMenuButton {
    background-color: transparent !important;
}
/* --- */
/* link colors */
a {
    color: #e2cbac !important;
}

.mx_EventTile .mx_SenderProfile {
    color: 
    #e2cbac !important;
    font-size: 14px;
    cursor: pointer;
    line-height: 17px;
    white-space: nowrap;
}
.mx_SenderProfile_aux {
    border-left: 
    #e2cbac 3px solid;
    padding-left: 5px;
}

.markdown-body blockquote {
    margin: 0 0 16px;
        margin-top: 0px;
        margin-bottom: 16px;
    padding: 0 15px;
    color: 
#3c7b3a;
border-left: 4px solid
    transparent;
    padding-left: 0px;
}
.markdown-body blockquote::before {
    content: ">";
}
/* --- */
/* boxes n shit */
.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line {
    border-left: 
    #e2cbac 5px solid;
}
.mx_MemberList_invite, .mx_RightPanel_invite, .mx_MemberDeviceInfo_textButton, .mx_TabbedView_tabLabel_active, .mx_AccessibleButton_kind_primary, .mx_Dialog button.mx_Dialog_primary, .mx_Dialog input[type="submit"].mx_Dialog_primary {
    color: 
black;
background-color:
    white;
}
.mx_Dialog button, .mx_Dialog input[type="submit"] {
    border: 1px solid
white;
color:
white;
}
.mx_Dialog {
    background-color: #090b0be6
}
.mx_AccessibleButton_kind_secondary {
    color: white;
    z-index: 100000;
}
.mx_EditMessageComposer .mx_EditMessageComposer_buttons {
    z-index: 100000;
}
/* --- */
/* text */
.mx_EventTile_line:hover {
    left: 4%;
    transition: all .2s ease;
}
.mx_EventTile_line {
    transition: all .2s ease;
}

.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line, .mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line {

    padding-left: 5px;
    transition: all .2s ease;
    margin-left: 4%;
    

}
.mx_EventTile_isEditing {
    background-color: transparent;
}
.mx_EditMessageComposer .mx_EditMessageComposer_buttons {
 	background-color: transparent;   
}
.mx_EditMessageComposer .mx_BasicMessageComposer_input {
    background-color:
    #090b0be6;
}
.mx_EditMessageComposer .mx_BasicMessageComposer_input:focus {
    border-color: white;
}
.mx_EventTile_selected > .mx_EventTile_line {
    border-left: 
#e2cbac 5px solid;
padding-left: 5px !important;
background-color:
    #090b0be6;
    margin-left: 4%;
    transition: all .2s ease;
}
.mx_EventTile_e2eIcon{
    left: auto;
}
.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line > .mx_EventTile_e2eIcon, .mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line > .mx_EventTile_e2eIcon {
    display: block;
    transition: all .2s ease;
    opacity: 0;
}
.mx_EventTile_selected > .mx_EventTile_line {
    border-left: 
#e2cbac 5px solid;
padding-left: 60px;
background-color:
    #090b0be6;
}
.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line > a > .mx_MessageTimestamp, .mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line > a > .mx_MessageTimestamp {

    right: 3px;
    width: auto;
transition: all .2s ease;    

}
.mx_EventTile_line, .mx_EventTile_reply {
    position: sticky;
}

.mx_ContextualMenu {
    border-radius: 0px;
    box-shadow: 2px 2px 0px 0 
#171c1ce6;
background-color:
#090b0be6;
}
/* --- */
/* Avatar and shit */
.mx_SenderProfile_name {
    box-shadow: -3px 0px 0 #383048 !important;
    margin-left: -0.4em !important;
    transition: all 0.2s ease-in-out 0s;
    padding-left: 5px;
}
.mx_SenderProfile > span {
    background-color: 
    #0c0c0c;
}

.mx_BaseAvatar_image {
    background-color: transparent;
    border-radius: 0px;
}
.mx_MemberInfo_avatar {
    background: transparent;
}
.mx_AutoHideScrollbar.mx_RoomBreadcrumbs.mx_AutoHideScrollbar_underflow.mx_IndicatorScrollbar_rightOverflow {
    display: none;
}
.mx_TopLeftMenuButton.mx_AccessibleButton {
    position: inherit;
	height: 110px;
	z-index: 1;
    top: 0;
    left: 5%;
    min-height: 152px;
}
.mx_TopLeftMenuButton_name, .mx_AutoHideScrollbar.mx_RoomBreadcrumbs.mx_AutoHideScrollbar_underflow {
    display: none;
}

.mx_TopLeftMenuButton.mx_AccessibleButton > .mx_BaseAvatar.mx_BaseAvatar_image {
    width: 100%;
    height: 100%;
}

/* --- */
/* background */
.matrixchat, .mx_MatrixChat {
 background-image: url("https://initiate.space/discord/theme/paper.png");   
}
.mx_RightPanel.mx_fadable.dark-panel {

    background-image: url("https://initiate.space/discord/theme/paper.png");
    background-size: 700% 100%;
    background-position: right;

}
/* --- */
